序列化：保存数据时，保存数据的数据类型和值
反序列化：读取数据时，恢复数据的数据类型和值

使某类支持序列化，则必须实现以下两个接口之一
1.Serializable//是一个标记接口，内部没有需要实现的方法，推荐使用
2.Externalizable

1.序列化的类建议添加 SerialVersionUID 属性进行版本控制（进阶内容）
2.序列化时不会保存 static 与 transient 属性
3.序列化具有继承性，父类实现序列化则子类默认实现序列化